__pycache__
__pycache__/
/checkpoints
/checkpoints/
/data
/data/
/data_colab_5k
/data_colab_5k/
/data_colab_21k_8s
/data_colab_21k_8s/
/deps
/deps/
/experiments
/experiments/
/experiments_1
/experiments_1/
/results
/results/
/visualize
/visualize/
/wandb
/wandb/
/upload_archives
/upload_archives/
/slurm/job
/slurm/job/
/slurm/out
/slurm/out/

*.csv
*.ckpt
*.pt
*.pth
*.pkl
*.npy
*.npz
*.tar
*.tar.gz
*.zip
*.png
*.mp4
